<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.antizha">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.国家反诈中心">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".PersonalActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".SettingActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>